.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}

.imagem {
  width: 525px;
  height: auto;
  margin-top: 50px;
  transform: rotate(20deg);
}

button {
  border-radius: 5px;
  box-shadow: 5px 5px 5px #888;
  padding: 15px;
  background-color: #ff7f50;
  color: white;
  border-color: #a0522d;
  border-style: solid;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.textoFrase {
  font-style: italic;
  color: #a0522d;
  text-align: center;
  position: relative;
  right: -162px;
  bottom: 352px;
  font-size: 16px;
  word-break: break-word;
  width: 160px;
}